  <h1>So you wanna edit?</h1>

<h3><%=@article.title%></h3>
  <p><%=@article.content%></p>
  
  
  <form method='POST' action="/articles/<%=@article.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Name: <input type='text' name='title'></p>
  <p>Content of Article: <input type='text' name='content'></p>
  <input type='submit' value='submit'>
</form>